body {
  background-color: rgb(228, 228, 228);
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin: 1%;
  margin-top: 0px;
}

.nameday {
  display: grid;
  grid-template-columns: 50% 50%;
  font-size: 200%;
  font-stretch: expanded;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  height: 13vh;
}

.day {
  text-align: right;
}

div.game {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 1fr;
  column-gap: 2%;
}

.options {
  border-radius: 20px;
  background-color: rgb(46, 46, 46);
  display: block;
  padding: 19px;
}

.companies-title {
  display: block;
  background-color: rgb(46, 46, 46);
  border-radius: 20px 20px 0px 0px;
  color: rgb(219, 219, 219);
  font-size: 250%;
  height: 35%;
  text-align: center;
  padding-top: 5%;
  margin-top: 5%;
  margin-bottom: 0px;
}

.companies-list {
  background-color: rgb(240, 240, 240);
  height: 1fr;
  overflow-y: visible;
  margin-top: 0px;
}