<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>STONKS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>

  <body>
    <div class="titlebar">
      <p class="title">STONKS</p>
      <p class="money" id="money">? $</p>
      <p class="day" id="day">? день</p>
    </div>
    <div class="game">
      <div class="first col">
        <div class="options">
          <img src="/static/images/gear.svg" alt="Settings" width="40px" />
          <img src="/static/images/info.svg" alt="Info" width="40px" />
        </div>
        <div class="companies col-item">
          <p class="companies-title">Компании</p>
          <div class="companies-list" id="companies"></div>
        </div>
        <div class="sabpr">
          <div class="button">Саботаж</div>
          <div class="button">Пиар</div>
        </div>
      </div>
      <div class="second col">
        <div class="chart col-item">
          <p class="chart-name" id="chart-name"></p>
          <div>
            <canvas id="myChart"></canvas>
          </div>
        </div>
        <div class="bottom-bar col-item">
          <div class="stocks" id="stocks"></div>
          <div class="sabpr">
            <p class="button">Купить</p>
            <p class="button">Продать</p>
          </div>
          <p>a</p>
        </div>
      </div>
      <div class="third col">
        <div class="companies col-item">
          <div class="companies-title">Новости</div>
          <div class="news-list" id="news"></div>
        </div>
        <p class="button" id="step">ХОД</p>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/js/functions.js"></script>
    <script>
      update();
    </script>
  </body>
</html>
