<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alpha version</title>
    <script src="{{url_for('static', filename='js/functions.js')}}"></script>
</head>

<body>
    <p id="cookies"></p>
    <p>add to "actions":</p>
    <input type="text" id="actions">
    <button onclick="actionAdd()">add</button>
    <script>
        let cookies = JSON.stringify(getCookie())
        document.getElementById('cookies').innerText = cookies
        function actionAdd() {
            let action = document.getElementById('actions').value
            let cookies = getCookie()
            cookies['actions'].push(JSON.parse(action))
            setCookie(cookies)

            let cookies1 = JSON.stringify(getCookie())
            document.getElementById('cookies').innerText = cookies1
        }
    </script>
</body>

</html>