<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>STONKS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/style.css" />
    <script src="/static/js/functions.js"></script>
  </head>

  <body>
    <div class="titlebar">
      <p class="title">STONKS</p>
      <p class="day">1 день</p>
    </div>
    <div class="game">
      <div class="first col">
        <div class="options">
          <img src="/static/images/gear.svg" alt="Settings" width="40px" />
          <img src="/static/images/info.svg" alt="Info" width="40px" />
        </div>
        <div class="companies col-item">
          <p class="companies-title">Компании</p>
          <div class="companies-list">
            <p class="company">a</p>
            <p class="company">a</p>
            <p class="company">a</p>
            <p class="company">a</p>
            <p class="company">a</p>
            <p class="company">a</p>
            <p class="company">a</p>
            <p class="company">a</p>
            <p class="company">a</p>
            <p class="company">a</p>
            <p class="company">a</p>
            <p class="company">a</p>
            <p class="company">a</p>
            <p class="company">a</p>
            <p class="company">a</p>
            <p class="company">a</p>
            <p class="company">a</p>
            <p class="company">a</p>
            <p class="company">a</p>
            <p class="company">a</p>
            <p class="company">a</p>
            <p class="company">a</p>
            <p class="company">a</p>
            <p class="company">a</p>
            <p class="company">a</p>
            <p class="company">a</p>
            <p class="company">a</p>
            <p class="company">a</p>
            <p class="company">a</p>
            <p class="company">a</p>
            <p class="company">a</p>
            <p class="company">a</p>
            <p class="company">a</p>
            <p class="company">a</p>
            <p class="company">a</p>
            <p class="company">a</p>
          </div>
        </div>
        <div class="sabpr">
          <div class="button">Саботаж</div>
          <div class="button">Пиар</div>
        </div>
      </div>
      <div class="second col">
        <p class="col-item">a</p>
        <div class="bottom-bar col-item">
          <div class="stocks">
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            
          </div>
          <div class="sabpr">
            <p class="button">Купить</p>
            <p class="button">Продать</p>
          </div>
          <p>a</p>
        </div>
      </div>
      <div class="third col">
        <div class="companies col-item">
          <div class="companies-title">Новости</div>
        </div>
        <p class="button">ХОД</p>
      </div>
    </div>
  </body>
</html>
