<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>STONKSSS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/style.css" />
    <script src="/static/js/functions.js"></script>
  </head>

  <body>
    <div class="nameday">
      <p class="name">| STONKS</p>
      <p class="day">День 1 |</p>
    </div>
    <div class="game">
      <div class="first tab">
        <div class="options">
          <img src="/static/images/gear.svg" alt="Settings" width="40px" />
          <img src="/static/images/info.svg" alt="Info" width="40px" />
        </div>
        <p class="companies-title">Компании</p>
        <div class="companies-list">
          <div class="company">company 1</div>
          <div class="company">company 2</div>
        </div>
        <div class="actions">
          <p class="action">Саботаж</p>
          <p class="action">Пиар</p>
        </div>
      </div>
      <div class="second tab"><p>asd</p></div>
      <div class="third tab"><p>asd</p></div>
    </div>
  </body>
</html>
